

<h1>Sisa is learning to code</h1>

<% @posts.map do |post| %>
<div class="min-w-full border-b">
    
    <h2> <%= link_to post.title, post %> </h2>
    
    <% if post.draft? %>
        <div class="p-2 rounded bg-gray-100 text-gray-900">DRAFT</div>
    <% elsif post.scheduled? %>
        <div class="p-2 rounded bg-blue-100 text-blue-900">SCHEDULED</div>
    <% end %>
    
    <%= post.body  %>
</div>    
<% end %>

